# Rails
RAILS_ENV=development
RAILS_MASTER_KEY=
SECRET_KEY_BASE=
RAILS_MAX_THREADS=5

# PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=app_development
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Production database password used by config/database.yml
APP_DATABASE_PASSWORD=

# Docker Compose helper
DB_PORT_PUBLISH=5433
DB_PLATFORM=linux/amd64

# Seeds HTTP API runner
SEED_API_HOST=127.0.0.1
SEED_API_PORT=3099
